{% extends 'todo/base.html' %}
{% block content %}

<div class="center">
    <h1>Сайт со списком задач</h1>
    <p>На данном сайте при авторизации или регистрации можно
        как смотреть актуальные задачи, так и создавать их</p>
    <h2>Система регистрации и авторизации</h2>
    <p>20.07.2023 - была добавлена система авторизации ( предоставление определённому лицу
        или группе лиц прав на выполнение определённых действий)</p>
    <p>17.07.2023 - добавлена система регистрации (тут вы и так знаете что это)</p>
    <form action="{% url 'signupuser' %}" class="center">
        <button class="btn">Начать</button>
    </form>
</div>

{% endblock %}